 
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  border: 0;
outline:0;
margin:0;
padding:0;
user-select:none;
box-sizing:border-box;
}

#app{
  font-family: Lexend,sans-serif;
}

img{
  display: block;
  
}
a{
  -webkit-tap-highlight-color: transparent;
}

.view{
  min-height: 100vh;
  padding: 0 1rem;
  padding-top: 12vh;
}

.panel{
  margin: 0 auto;
  max-width: 500px;


  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: center;
  align-items: center;

  & .panel-title{
    font-size: 3rem;
    font-weight:700;
  }
}


input{
  padding: 10px;
}

.neutral{
  background-color:$grey !important;
}
.warning{
  background-color:$warningColor !important;
  
}
.default{
  background-color: $themeMain-One !important;
}

.black{
  background-color: black !important;
  color: white;
}
 
.success{

  background-color: rgb(119, 174, 96) !important;
}

 
 
 

 
 