 
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  border: 0;
outline:0;
margin:0;
padding:0;
user-select:none;
box-sizing:border-box;
}

#app{
  font-family: Lexend,sans-serif;
}

img{
  display: block;
  
}
a{
  -webkit-tap-highlight-color: transparent;
}

.view{
  min-height: 100vh;
  padding: 0 1rem;
  padding-top: 20vh;
  padding-bottom: 1rem;

  display: flex;
  align-items: stretch;

  @include breakpoint-down(680px){
    padding-top: calc(70px + 20px);
  }
}

.panel{
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

   
  align-items: center;

  & .panel-title{
    font-size: 3rem;
    font-weight:700;
  }

   
}

input{

  width: 100%;

  padding: 10px;
  border-radius: 4px;
  border: 1px solid $grey;

  &:focus{
      outline: none;
  }
}
 
.neutral{
  background-color:$grey !important;
}
.warning{
  background-color:$warningColor !important;
  color: white;
  
}
.default{
  background-color: $themeMain-One !important;
}

.black{
  background-color: black !important;
  color: white;
}
 
.success{

  background-color: rgb(119, 174, 96) !important;
}

 
 
 

 
 